### Content-Based Filtering

Chuẩn bị dữ liệu

In [1]:
import pandas as pd 
import numpy as np   
df = pd.read_csv("contentbased_filtering_db.csv")
df.dropna()
df.head(5)

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,64,$41.94,2008
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,68,$19.62,2010
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,43,$26.66,2010
3,When in Rome,Comedy,Disney,44,0.000000,15,$43.04,2010
4,What Happens in Vegas,Comedy,Fox,72,6.267647,28,$219.37,2008

In [2]:
df.drop(["Year", "Profitability", 'Worldwide Gross'], axis=1, inplace=True)
df.head()

,Film,Genre,Lead Studio,Audience score %,Rotten Tomatoes %
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,64
1,Youth in Revolt,Comedy,The Weinstein Company,52,68
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,43
3,When in Rome,Comedy,Disney,44,15
4,What Happens in Vegas,Comedy,Fox,72,28

Kết hợp thành 1 cột duy nhất để dễ xử lý

In [3]:
def combine_columns(df, cols):
    features = []  
    
    for i in range(df.shape[0]):
        to_add = ""  
        
        for j in range(len(cols)):
            to_add += str(df[cols[j]][i]) + ' '
        
        features.append(to_add)
    
    return features

In [4]:
df.reset_index(drop=True, inplace=True)
df['combined'] = combine_columns(df, df.columns.tolist())
df.head()

,Film,Genre,Lead Studio,Audience score %,Rotten Tomatoes %,combined
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,64,Zack and Miri Make a Porno Romance The Weinste...
1,Youth in Revolt,Comedy,The Weinstein Company,52,68,Youth in Revolt Comedy The Weinstein Company 5...
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,43,You Will Meet a Tall Dark Stranger Comedy Inde...
3,When in Rome,Comedy,Disney,44,15,When in Rome Comedy Disney 44 15
4,What Happens in Vegas,Comedy,Fox,72,28,What Happens in Vegas Comedy Fox 72 28

Cosine Similatary

In [5]:
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

matrix = CountVectorizer().fit_transform(df["combined"])

cs_matrix = cosine_similarity(matrix)

In [6]:
cs_matrix_df = pd.DataFrame(cs_matrix)
cs_matrix_df

,0,1,2,3,4,5,6,7,8,9,...,67,68,69,70,71,72,73,74,75,76
0,1.000000,0.301511,0.000000,0.000000,0.000000,0.000000,0.000000,0.134840,0.123091,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.227921,0.123091,0.000000,0.000000,0.000000
1,0.301511,1.000000,0.105409,0.251976,0.235702,0.000000,0.000000,0.000000,0.000000,0.125988,...,0.251976,0.000000,0.149071,0.000000,0.149071,0.125988,0.000000,0.000000,0.136083,0.117851
2,0.000000,0.105409,1.000000,0.119523,0.111803,0.000000,0.000000,0.141421,0.129099,0.119523,...,0.119523,0.141421,0.141421,0.000000,0.282843,0.119523,0.000000,0.129099,0.129099,0.111803
3,0.000000,0.251976,0.119523,1.000000,0.267261,0.000000,0.169031,0.000000,0.000000,0.142857,...,0.142857,0.000000,0.338062,0.000000,0.169031,0.000000,0.000000,0.000000,0.154303,0.133631
4,0.000000,0.235702,0.111803,0.267261,1.000000,0.235702,0.000000,0.000000,0.000000,0.133631,...,0.133631,0.000000,0.158114,0.000000,0.158114,0.000000,0.000000,0.000000,0.288675,0.250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,0.227921,0.125988,0.119523,0.000000,0.000000,0.000000,0.000000,0.338062,0.308607,0.142857,...,0.000000,0.169031,0.000000,0.000000,0.338062,1.000000,0.000000,0.154303,0.000000,0.000000
73,0.123091,0.000000,0.000000,0.000000,0.000000,0.136083,0.182574,0.182574,0.000000,0.000000,...,0.000000,0.182574,0.000000,0.166667,0.000000,0.000000,1.000000,0.333333,0.000000,0.000000
74,0.000000,0.000000,0.129099,0.000000,0.000000,0.136083,0.182574,0.365148,0.166667,0.000000,...,0.000000,0.365148,0.000000,0.166667,0.182574,0.154303,0.333333,1.000000,0.000000,0.000000
75,0.000000,0.136083,0.129099,0.154303,0.288675,0.136083,0.000000,0.000000,0.000000,0.154303,...,0.154303,0.182574,0.182574,0.000000,0.182574,0.000000,0.000000,0.000000,1.000000,0.288675
76,0.000000,0.117851,0.111803,0.133631,0.250000,0.117851,0.000000,0.000000,0.000000,0.133631,...,0.133631,0.000000,0.158114,0.000000,0.158114,0.000000,0.000000,0.000000,0.288675,1.000000

In [7]:
def getRecommendationFilm(film):
    index = df[df["Film"] == film].index[0]

    scores = list(enumerate(cs_matrix[index]))

    scores = sorted(scores, key=lambda x:x[1], reverse=True)

    scores = scores[1:]

    for movie in scores[:5]:
        mv = df["Film"][movie[0]]
        print(mv)

Lấy đề xuất 5 phim dựa theo tên phim đã xem

In [8]:
getRecommendationFilm("Music and Lyrics")

New Year's Eve
Sex and the City 2
Sex and the City
Sex and the City Two
Zack and Miri Make a Porno