In [28]:

import pandas as pd 
import numpy as np   
df=pd.read_csv("collaborative_filering_db.csv")

In [29]:
users = df.drop(columns="timestamp")
users

        userId  movieId  rating
0            1        1     4.0
1            1        3     4.0
2            1        6     4.0
3            1       47     5.0
4            1       50     5.0
...        ...      ...     ...
100831     610   166534     4.0
100832     610   168248     5.0
100833     610   168250     5.0
100834     610   168252     5.0
100835     610   170875     3.0

[100836 rows x 3 columns]

In [30]:
# Tạo bảng rating với các hàng là userId, các cột là movieId, và giá trị là rating
ratings_matrix = users.pivot_table(index='userId', columns='movieId', values='rating', fill_value=0)

ratings_matrix = ratings_matrix.T
# bo cac rating toan bang 0 (phim ko ai rate)

ratings_matrix

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
movieId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,0.0,0.0,4.0,0.0,4.5,0.0,0.0,0.0,...,4.0,0.0,4.0,3.0,4.0,2.5,4.0,2.5,3.0,5.0
2,0.0,0.0,0.0,0.0,0.0,4.0,0.0,4.0,0.0,0.0,...,0.0,4.0,0.0,5.0,3.5,0.0,0.0,2.0,0.0,0.0
3,4.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193581,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193583,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193585,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193587,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193609,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [31]:
# Giả sử ratings_matrix là DataFrame chứa ma trận hiện tại
ratings_matrix = ratings_matrix.replace(0, np.nan)  # Thay thế các giá trị 0 bằng NaN để không tính vào trung bình

# Tính giá trị trung bình mỗi cột, bỏ qua NaN
column_means = ratings_matrix.mean(axis=0, skipna=True)

# Chuẩn hóa ma trận: trừ giá trị trung bình của mỗi cột
normalized_matrix = ratings_matrix.subtract(column_means, axis=1)

# Thay thế NaN (các giá trị chưa có rating) bằng 0
normalized_matrix = normalized_matrix.fillna(0)
# ma tran da chuan hoa
normalized_matrix

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
movieId,,,,,,,,,,,,,,,,,,,,,
1,-0.366379,0.0,0.0,0.0,0.363636,0.000000,1.269737,0.000000,0.0,0.0,...,-0.425743,0.000000,0.492047,-0.48,0.789593,-1.157399,0.213904,-0.634176,-0.27027,1.311444
2,0.000000,0.0,0.0,0.0,0.000000,0.506369,0.000000,0.425532,0.0,0.0,...,0.000000,0.607407,0.000000,1.52,0.289593,0.000000,0.000000,-1.134176,0.00000,0.000000
3,-0.366379,0.0,0.0,0.0,0.000000,1.506369,0.000000,0.000000,0.0,0.0,...,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,-1.134176,0.00000,0.000000
4,0.000000,0.0,0.0,0.0,0.000000,-0.493631,0.000000,0.000000,0.0,0.0,...,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
5,0.000000,0.0,0.0,0.0,0.000000,1.506369,0.000000,0.000000,0.0,0.0,...,0.000000,0.000000,0.000000,-0.48,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193581,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,...,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
193583,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,...,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
193585,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,...,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
193587,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,...,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
193609,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0,...,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000

In [32]:
from sklearn.metrics.pairwise import cosine_similarity

# Giả sử normalized_matrix là ma trận chuẩn hóa từ bước trước
# Tính toán ma trận tương đồng giữa các user
normalized_matrix=normalized_matrix.T

user_similarity = cosine_similarity(normalized_matrix)

# Chuyển đổi kết quả thành DataFrame để dễ đọc
user_similarity_df = pd.DataFrame(user_similarity, index=normalized_matrix.index, columns=normalized_matrix.index)

# Hiển thị ma trận tương đồng
print("Ma trận tương đồng giữa các user:")
print(user_similarity_df)

Ma trận tương đồng giữa các user:
userId       1         2         3         4         5         6         7    \
userId
1       1.000000  0.001265  0.000553  0.048419  0.021847 -0.045497 -0.006200
2       0.001265  1.000000  0.000000 -0.017164  0.021796 -0.021051 -0.011114
3       0.000553  0.000000  1.000000 -0.011260 -0.031539  0.004800  0.000000
4       0.048419 -0.017164 -0.011260  1.000000 -0.029620  0.013956  0.058091
5       0.021847  0.021796 -0.031539 -0.029620  1.000000  0.009111  0.010117
...          ...       ...       ...       ...       ...       ...       ...
606     0.012016  0.006226 -0.037289  0.020590  0.026319 -0.009137  0.028326
607     0.055261 -0.020504 -0.007789  0.014628  0.031896  0.045501  0.030981
608     0.075224 -0.006001 -0.013001 -0.037569 -0.001751  0.021727  0.028414
609    -0.025713 -0.060091  0.000000 -0.017884  0.093829  0.053017  0.008754
610     0.010932  0.024999  0.019550 -0.000995 -0.000278  0.009603  0.068430

userId       8         9         10   ...       601       602       603  \
userId                                ...
1       0.047013  0.019510 -0.008754  ...  0.018127 -0.017172 -0.015221
2      -0.048085  0.000000  0.003012  ... -0.050551 -0.031581 -0.001688
3      -0.032471  0.000000  0.000000  ... -0.004904 -0.016117  0.017749
4       0.002065 -0.005874  0.051590  ... -0.037687  0.063122  0.027640
5      -0.012284  0.000000 -0.033165  ...  0.015964  0.012427  0.027076
...          ...       ...       ...  ...       ...       ...       ...
606     0.022277  0.031633 -0.039946  ...  0.053683  0.016384  0.098011
607     0.048822 -0.012161 -0.017656  ...  0.049059  0.038197  0.049317
608     0.071759  0.032783 -0.052000  ...  0.069198  0.051388  0.012801
609     0.077180  0.000000 -0.040090  ...  0.043465  0.062400  0.015334
610     0.017144  0.051898 -0.026004  ...  0.021603  0.030061  0.051255

userId       604       605       606       607       608       609       610
userId
1      -0.037059 -0.029121  0.012016  0.055261  0.075224 -0.025713  0.010932
2       0.000000  0.000000  0.006226 -0.020504 -0.006001 -0.060091  0.024999
3       0.000000 -0.001431 -0.037289 -0.007789 -0.013001  0.000000  0.019550
4      -0.013782  0.040037  0.020590  0.014628 -0.037569 -0.017884 -0.000995
5       0.012461 -0.036272  0.026319  0.031896 -0.001751  0.093829 -0.000278
...          ...       ...       ...       ...       ...       ...       ...
606     0.061078  0.019678  1.000000  0.017927  0.056676  0.038422  0.075464
607     0.002355 -0.029381  0.017927  1.000000  0.044514  0.019049  0.021860
608     0.006319 -0.007978  0.056676  0.044514  1.000000  0.050714  0.054454
609     0.094038 -0.054722  0.038422  0.019049  0.050714  1.000000 -0.012471
610     0.015621  0.069837  0.075464  0.021860  0.054454 -0.012471  1.000000

[610 rows x 610 columns]

In [33]:
def get_users_rated_item(movie_id, ratings_matrix):
    """
    Lấy danh sách user đã đánh giá movie_id.
    """
    userss = ratings_matrix[ratings_matrix[movie_id] != 0].index.tolist()
    userss=userss[1:]
    return userss



def predict_rating(user_id, movie_id, ratings_matrix, user_similarity_df, k=2):
    """
    Dự đoán rating cho user_id và movie_id dựa trên KNN.
    
    Args:
    - user_id: ID của user cần dự đoán.
    - movie_id: ID của movie cần dự đoán.
    - ratings_matrix: Ma trận normalized ratings.
    - user_similarity_df: Ma trận tương đồng giữa các user.
    - k: Số lượng user hàng xóm gần nhất.
    
    Returns:
    - predicted_rating: Giá trị dự đoán rating.
    """
    # Lấy danh sách các user đã đánh giá movie_id
    users_rated_item = get_users_rated_item(movie_id, ratings_matrix)

    # Lấy độ tương đồng giữa user_id và các user khác
    similarities = user_similarity_df.loc[user_id, users_rated_item]

    # Sắp xếp độ tương đồng theo thứ tự giảm dần
    top_k_users = similarities.nlargest(k).index.tolist()

    # Lấy normalized ratings của top_k_users cho movie_id
    ratings_top_k_users = ratings_matrix.loc[top_k_users, movie_id]

    # Tính giá trị dự đoán
    numerator = sum(ratings_top_k_users * similarities[top_k_users])
    denominator = sum(abs(similarities[top_k_users]))

    # Tránh chia cho 0
    if denominator == 0:
        return 0

    predicted_rating = numerator / denominator
    return predicted_rating

In [35]:
#lay du lieu de lay ten phim tu id
movie_titless= pd.read_csv("movies.csv")

In [36]:
def get_top_recommendations(user_id, movie_titles=movie_titless, top_n=10):
    """
    Lấy top N bộ phim mà user có khả năng thích nhất dựa trên rating dự đoán.

    Args:
    - user_id: ID của người dùng.
   
    - movie_titles: DataFrame chứa thông tin về movie (bao gồm movie_id và title).
    - top_n: Số lượng bộ phim muốn lấy.

    Returns:
    - top_movies: Danh sách các bộ phim được đề xuất (bao gồm title và rating dự đoán).
    """
    # predicted_ratings: Dictionary chứa các movie_id và rating dự đoán.
    predicted_ratings = {}
    user_id = user_id
    for movie_id in normalized_matrix.columns:
        if pd.isna(normalized_matrix.loc[user_id, movie_id]) or normalized_matrix.loc[user_id, movie_id] == 0:
            predicted_ratings[movie_id] = predict_rating(user_id, movie_id, normalized_matrix, user_similarity_df, k=20)
    # Bước 1: Chuyển đổi predicted_ratings thành DataFrame để dễ xử lý
    predicted_df = pd.DataFrame(list(predicted_ratings.items()), columns=['movieId', 'predicted_rating'])

    # Bước 2: Sắp xếp danh sách rating theo giá trị rating dự đoán (giảm dần)
    predicted_df = predicted_df.sort_values(by='predicted_rating', ascending=False)

    # Bước 3: Lấy thông tin title tương ứng với các movie_id
    top_movies = predicted_df.merge(movie_titles, how='inner', left_on='movieId', right_on='movieId')

    # Bước 4: Lấy top N kết quả
    top_movies = top_movies.head(top_n)[['title', 'predicted_rating']]

    return top_movies

In [37]:
get_top_recommendations(2)

                                       title  predicted_rating
0  Flash Gordon Conquers the Universe (1940)          3.535714
1                      The Handmaiden (2016)          3.398527
2                             Titanic (1953)          3.025000
3                          Hanging Up (2000)          2.942122
4           Thing with Two Heads, The (1972)          2.928571
5                        Fathers' Day (1997)          2.881497
6                           Crew, The (2000)          2.809773
7                       Drowning Mona (2000)          2.792302
8                   World of Tomorrow (2015)          2.754545
9           It's Such a Beautiful Day (2012)          2.754545